<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="">
<% include ../partials/sidebar %>
<div class="main-content">
    <!-- Navbar -->
    <% include ../partials/navbar %>

    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
            </div>
        </div>
    </div>
    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Payments</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Avatar</th>
                                <th scope="col">Username</th>
                                <th scope="col">Gateway</th>
                                <th scope="col">Package</th>
                                <th scope="col">Price</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Time</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% payments.forEach(function(payment){ %>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <a class="avatar rounded-circle mr-3">
                                            <img alt="" src="https://crafatar.com/avatars/<%= payment.uuid %>">
                                        </a>
                                    </div>
                                </th>
                                <td>
                                    <%= payment.username %>
                                </td>
                                <td>
                                    <%= payment.gateway %>
                                </td>
                                <td>
                                    <%= payment.package %>
                                </td>
                                <td>
                                    <%= payment.paid_price %>
                                </td>
                                <td>
                                    0%
                                    <!-- Save if they used any like coupons or anything
                                    and show the discount equivalent -->
                                </td>
                                <td>
                                    <%= payment.date %>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item"
                                               href="/admin/payments/view/<%= payment._id %>">View</a>
                                            <a class="dropdown-item"
                                               href="/admin/payments/delete/<%= payment._id %>">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer py-4">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-end mb-0">
                                <% if(parseInt(page) > 1){ %>
                                    <li class="page-item">
                                        <a class="page-link" href="/admin/payments/<%= (parseInt(page) - 1) %>"
                                           tabindex="-1">
                                            <i class="fas fa-angle-left"></i>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                <% } %>
                                <li class="page-item active">
                                    <a class="page-link" href="/admin/payments/<%= page %>"><%= parseInt(page) %></a>
                                </li>
                                <% if(payments.length > 20 * parseInt(page)){ %>
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="/admin/payments/<%= (parseInt(page) + 1) %>"><%= (parseInt(page) + 1) %></a>
                                    </li>
                                    <% if(payments.length > (20 * (parseInt(page) + 1))){ %>
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="/admin/payments/<%= (parseInt(page) + 2) %>"><%= (parseInt(page) + 2) %></a>
                                        </li>
                                    <% } %>
                                    <li class="page-item">
                                        <% if(payments.length > (20 * (parseInt(page) + 3))){ %>
                                            <a class="page-link" href="/admin/payments/<%= (parseInt(page) + 3) %>">
                                                <i class="fas fa-angle-right"></i>
                                                <span class="sr-only">Next</span>
                                            </a>
                                    </li>
                                <% }
                                } %>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <% include ../partials/footer %>
    </div>
</div>
<!--   Core   -->
<script src="/admin/js/plugins/jquery/dist/jquery.min.js"></script>
<script src="/admin/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--   Optional JS   -->
<script src="/admin/js/plugins/chart.js/dist/Chart.min.js"></script>
<script src="/admin/js/plugins/chart.js/dist/Chart.extension.js"></script>
<!--   Argon JS   -->
<script src="/admin/js/argon-dashboard.min.js?v=1.1.0"></script>
</body>

</html>